{% extends 'base_generic.html' %}

{% block content %}

{% load static %}
<h2 class="titulotp" align="center"> INICIO DE SESIÓN</h2>
<div class="container p-3 my-5 border" style="background-color: ghostwhite; margin-top: 20%; height: 120%; ">

  <h1>¿Olvido su contraseña?</h1>
  <p>Ingrese su dirección de correo electrónico a continuación y le enviaremos las instrucciones para configurar una nueva.</p>

  <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Reiniciar Contraseña">
  </form>
<br>
</div>
</div>
<br>
<br>
<br>
<br>
{% endblock %}